* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-color: var(--canvas-color);
    background-size: cover;
}

:root {
    --canvas-color: #eeecde;
}

#canvas1 {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10%;
    margin-right: 10%;
    z-index: -1;
}

#logo {
    max-width: 35%;
    height: auto;
    position: relative;
    margin: 20px auto 0;
    display: block;
}

header {
    width: 40%;
    max-width: 500px;
}

#controls {
    position: relative;
    display: block;
    padding: 10px;
    z-index: 0;
}

.control1 {
    position: inherit;
    display: inline-block;
}

.control2 {
    position: inherit;
    display: inline-block;
}

.control3 {
    position: inherit;
}

.control4 {
    position: inherit;
}

input {
    accent-color: #156669;
}

label {
    color: #156669;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
}