* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-color: var(--canvas-color);
    background-size: cover;
}

:root {
    --canvas-color: #eeecde;
}

#canvas1 {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10%;
    margin-right: 10%;
    z-index: -1;
}

#logo {
    max-width: 35%;
    height: auto;
    position: relative;
    margin: 20px auto 0;
    display: block;
}

header {
    width: 40%;
    max-width: 500px;
}

#mute {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    border-color: transparent;
    background-color: transparent;
}

#audioImage {
    height: 3rem;
    filter: 
        invert(28%) 
        sepia(11%) 
        saturate(4038%) 
        hue-rotate(137deg) 
        brightness(70%) 
        contrast(84%);
}

#controls {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 10%;
    display: block;
    padding: 10px;
    z-index: 0;
}

.control1 {
    top: 13%;
    right: 92%;
    transform: translateX(125px);
    position: absolute;
    display: inline-block;
}

.control2 {
    top: 52%;
    right:100%;
    transform: translateX(125px);
    position: absolute;
    display: inline-block;
}

.control3 {
    top: 13%;
    left: 90%;
    transform: translateX(-125px);
    position: absolute;
}

.control4 {
    top: 52%;
    left: 100%;
    transform: translateX(-125px);
    position: absolute;
}

.control5 {
    top: 82%;
    left: 57%;
    transform: translateX(-125px);
    position: absolute;
}

input {
    accent-color: #156669;
}

label {
    color: #156669;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
}

#listen {
    position: absolute;
    top: 87%;
    border-radius: 35px;
    bottom: 7%;
    display: block; 
    margin-left: 57%;
    transform: translateX(-10rem);
    border-color: transparent;
    background-color: transparent;
}

#listenImage {
    width: 100%;
    max-width: 130px;

}